.topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #222;
  color: white;
  align-items: center;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

.logout-btn {
  background: transparent;
  border: 1px solid white;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.logout-btn:hover {
  background: #444;
}
